# Step 1: Exercise Follow Along

## Importing Libraries

In [1]:
import pandas as pd
import numpy as np
import os

## Importing Datasets

In [2]:
#Set path variable

path = r'C:\Users\HP\Documents\CareerFoundry\Data Immersion\Achievement 4\05-2023 Instacart Basket Analysis'

In [3]:
path

'C:\\Users\\HP\\Documents\\CareerFoundry\\Data Immersion\\Achievement 4\\05-2023 Instacart Basket Analysis'

In [4]:
#Import orders_products_merged dataset

ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_updated.pkl'))

In [5]:
#Create a subset with 1 million rows

df = ords_prods_merged[:1000000]

In [6]:
#Check shape

df.shape

(1000000, 18)

In [7]:
#Check some values

df.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders

## Grouping Data with pandas

In [8]:
#Group by a certain column

df.groupby('product_name')

## Aggregating Data with agg()

### Single Aggregations

In [9]:
# Group by 'department_id', then find the mean of 'order_number' using agg()

df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [10]:
#Group by 'department_od', then find the mean of 'order_number' using mean()
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

### Multiple Aggregations

In [11]:
# Group by 'department_id', then find the mean, min, and max of 'order_number' using agg()

df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

## Aggregating Data with transform()

In [12]:
# Find max_order for each user_id.
# Group by user_id first, apply transform function across order_number, and create new column for max_order

ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [13]:
ords_prods_merged.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [14]:
ords_prods_merged.head(100)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3226575,360,1,5,12,NaN,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,3
96,1469869,377,3,5,17,3.0,196,9,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,3
97,1927023,387,2,4,10,22.0,196,3,0,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,8
98,858092,420,4,1,19,30.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,119314,420,5,3,19,16.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders,22

## Deriving Columns with loc()

In [15]:
#Set 1st column criteria

ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
#Set 2nd column criteria

ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
#Set 3rd column criteria

ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

In [22]:
#Check first 60 rows with only "user_id", "loyalty_flag", and "order_number" columns

ords_prods_merged[['user_id', 'loyalty_flag', 'order_number']].head(60)

   user_id      loyalty_flag  order_number
0        1      New customer             1
1        1      New customer             2
2        1      New customer             3
3        1      New customer             4
4        1      New customer             5
5        1      New customer             6
6        1      New customer             7
7        1      New customer             8
8        1      New customer             9
9        1      New customer            10
10      15  Regular customer            15
11      15  Regular customer            17
12      15  Regular customer            18
13      15  Regular customer            21
14      15  Regular customer            22
15      19      New customer             2
16      19      New customer             5
17      19      New customer             7
18      21  Regular customer            10
19      31  Regular customer            10
20      31  Regular customer            17
21      43  Regular customer             6
22      43  Regular customer             9
23      52  Regular customer             1
24      52  Regular customer             2
25      52  Regular customer             3
26      52  Regular customer             5
27      52  Regular customer             7
28      52  Regular customer             9
29      52  Regular customer            10
30      52  Regular customer            11
31      52  Regular customer            12
32      52  Regular customer            15
33      52  Regular customer            17
34      52  Regular customer            18
35      52  Regular customer            19
36      52  Regular customer            21
37      67  Regular customer             1
38      67  Regular customer             2
39      67  Regular customer             3
40      67  Regular customer             4
41      67  Regular customer             5
42      67  Regular customer             6
43      67  Regular customer             8
44      67  Regular customer             9
45      67  Regular customer            10
46      67  Regular customer            11
47      67  Regular customer            12
48      67  Regular customer            13
49      67  Regular customer            14
50      67  Regular customer            16
51      67  Regular customer            18
52      67  Regular customer            19
53      67  Regular customer            21
54      67  Regular customer            22
55      67  Regular customer            23
56      81      New customer             3
57      81      New customer             5
58      82  Regular customer             1
59      82  Regular customer             3

# Step 2: Find aggregated mean of 'order_number' of entire dataframe grouping by 'department_id'.

In [23]:
# Group by 'department_id', then find the mean of 'order_number' using agg(). Change dataframe to ords_prod_merged

ords_prods_merged.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

# Step 3: Analyze the results from step 2. How do the results for the entire dataframe differ from the subset?

### The subset only had 8 department_id values compared to the full 21 values for the entire dataframe, which made sense since there were only a million rows included in the subset. 
### The mean values for the 8 department_id values in the subset have changed. In particular, mean values for department_id's 14, 16, and 17 (breakfast, dairy eggs, and household) have changed significantly by almost 3 each. 
### Overall, the difference in mean values between all the departments has decreased when using all the data.

# Step 5: Use loyalty flag and check basic statistics of product prices for each loyalty category. See if prices for loyal customers are different from others.

In [24]:
#Group by loyalty_flag and then check mean for each group

ords_prods_merged.groupby('loyalty_flag').agg({'prices' : ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

### There doesn't seem to be a correlation between average price and a particular loyalty status. In fact, loyal customers spend less than other customers on average, but this could be for multiple reasons like scouting for sales or just purchasing items that cost less.

# Step 6: Create a spending flag for each user based on their average price across all their orders. If mean of their products is less than 10, flag as a "Low Spender". Flag them as a "High Spender" if their price is 10 or higher.

In [26]:
#Group each user based on their user_id, then use transform() to find the average of 'prices' and create a new column called
#'average_price'.

ords_prods_merged['average_price'] = ords_prods_merged.groupby(['user_id'])['prices'].transform(np.mean)

In [28]:
#Check to see the new grouping

ords_prods_merged.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest Days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest Days,Average orders,9,New customer,8.372059
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Most orders,33,Regular customer,7.012683
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest Days,Average orders,20,Regular customer,8.137793

In [29]:
# Use 'average_price' column to create the flag for Low or High Spender

ords_prods_merged.loc[ords_prods_merged['average_price'] >= 10, 'spending_status'] = 'High Spender'

In [30]:
ords_prods_merged.loc[ords_prods_merged['average_price'] < 10, 'spending_status'] = 'Low Spender'

In [31]:
#Check frequency of values

ords_prods_merged['spending_status'].value_counts(dropna = False)

Low Spender     31770614
High Spender      634245
Name: spending_status, dtype: int64

# Step 7: Create an order frequency flag that marks a user's ordering behavior according to the median in the "days_since_prior_order" column. "Non-frequent customers" have a median higher than 20, "Regular_customers" have a media greater than 10 but up to 20, "Frequent Customers" have a median of 10 or lower.

In [33]:
#Group customers by 'user_id' first, then use transform to find the median of 'days_since_last_order' and create a new 
#column called median_days_since_last_order.

ords_prods_merged['median_days_since_last_order'] = ords_prods_merged.groupby(['user_id'])['days_since_last_order'].transform(np.median)

In [34]:
#check to see if new column was made correctly

ords_prods_merged.head(20)

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_status,median_days_since_last_order
0,2539329,1,1,2,8,NaN,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest Days,Average orders,10,New customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest Days,Most orders,10,New customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest Days,Most orders,10,New customer,6.367797,Low Spender,20.5
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low Spender,20.5
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low Spender,20.5
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest Days,Average orders,10,New customer,6.367797,Low Spender,20.5
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low Spender,10.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low Spender,10.0
15,2293453,19,2,5,14,6.0,196,3,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low Spender,6.0
16,1973799,19,5,6,12,8.0,196,15,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,8.372059,Low Spender,6.0
17,532817,19,7,4,17,6.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest Days,Average orders,9,New customer,8.372059,Low Spender,6.0
18,1573906,21,10,3,10,6.0,196,2,0,Soda,...,both,Mid-range product,Regularly busy,Slowest Days,Most orders,33,Regular customer,7.012683,Low Spender,7.5
19,1593000,31,10,3,8,7.0,196,17,0,Soda,...,both,Mid-range product,Regularly busy,Slowest Days,Average orders,20,Regular customer,8.137793,Low Spender,6.0

In [36]:
#Create a flag for the 'median_days_since_last_order' column with the criteria

ords_prods_merged.loc[ords_prods_merged['median_days_since_last_order'] > 20, 'customer_frequency_flag'] = 'Non-frequent customer'

In [38]:
ords_prods_merged.loc[(ords_prods_merged['median_days_since_last_order'] > 10) & (ords_prods_merged['median_days_since_last_order'] <= 20), 'customer_frequency_flag'] = 'Regular customer'

In [40]:
ords_prods_merged.loc[ords_prods_merged['median_days_since_last_order'] <= 10, 'customer_frequency_flag'] = 'Frequent customer'

In [41]:
#Check frequency for the flag

ords_prods_merged['customer_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: customer_frequency_flag, dtype: int64

### There are some unexpected missing values for this flag.

In [44]:
#Check the missing value

print(ords_prods_merged[ords_prods_merged['customer_frequency_flag'].isnull()])

         order_id user_id  order_number  orders_day_of_week  \
13645692   895835  159838             1                   0
17251990   895835  159838             1                   0
17622767   895835  159838             1                   0
24138593   895835  159838             1                   0
25880002   895835  159838             1                   0

          order_hour_of_day  days_since_last_order  product_id  \
13645692                 17                    NaN       10749
17251990                 17                    NaN       33401
17622767                 17                    NaN       23695
24138593                 17                    NaN       21334
25880002                 17                    NaN       22198

          add_to_cart_order  reordered  \
13645692                  3          0
17251990                  6          0
17622767                  2          0
24138593                  5          0
25880002                  1          0

                                               product_name  ...  \
13645692                            Organic Red Bell Pepper  ...
17251990                               Goat Cheese Crumbles  ...
17622767                           California Veggie Burger  ...
24138593                              Organic Peeled Garlic  ...
25880002  4X Ultra Concentrated Natural Laundry Detergen...  ...

            price_range_loc  busiest_day  busiest_days busiest_period_of_day  \
13645692  Mid-range product  Busiest day  Busiest days        Average orders
17251990  Mid-range product  Busiest day  Busiest days        Average orders
17622767  Low-range product  Busiest day  Busiest days        Average orders
24138593  Mid-range product  Busiest day  Busiest days        Average orders
25880002  Low-range product  Busiest day  Busiest days        Average orders

         max_order  loyalty_flag average_price spending_status  \
13645692         1  New customer          7.42     Low Spender
17251990         1  New customer          7.42     Low Spender
17622767         1  New customer          7.42     Low Spender
24138593         1  New customer          7.42     Low Spender
25880002         1  New customer          7.42     Low Spender

          median_days_since_last_order customer_frequency_flag
13645692                           NaN                     NaN
17251990                           NaN                     NaN
17622767                           NaN                     NaN
24138593                           NaN                     NaN
25880002                           NaN                     NaN

[5 rows x 24 columns]

In [53]:
#Examine all orders based on this user_id

ords_prods_merged.loc[ords_prods_merged['user_id'] == '159838']

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_last_order,product_id,add_to_cart_order,reordered,product_name,...,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_status,median_days_since_last_order,customer_frequency_flag
13645692,895835,159838,1,0,17,NaN,10749,3,0,Organic Red Bell Pepper,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
17251990,895835,159838,1,0,17,NaN,33401,6,0,Goat Cheese Crumbles,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
17622767,895835,159838,1,0,17,NaN,23695,2,0,California Veggie Burger,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
24138593,895835,159838,1,0,17,NaN,21334,5,0,Organic Peeled Garlic,...,Mid-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN
25880002,895835,159838,1,0,17,NaN,22198,1,0,4X Ultra Concentrated Natural Laundry Detergen...,...,Low-range product,Busiest day,Busiest days,Average orders,1,New customer,7.42,Low Spender,NaN,NaN

### The reason why this person doesn't have an associated 'customer_frequency_flag' is because they have only ordered one time so a median couldn't be calculated. Logically, this person should be labeled as a 'non-frequent customer'.

In [54]:
#Fill in a specific value for those particular rows with missing values in the 'customer_frequency_flag' column.

ords_prods_merged['customer_frequency_flag'].fillna('Non-frequent customer', inplace = True)

In [55]:
#Check frequency for the flag. It should no longer have any NaN's.

ords_prods_merged['customer_frequency_flag'].value_counts(dropna = False)

Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636442
Name: customer_frequency_flag, dtype: int64

# Step 9: Export the dataframe as a pickle file.

In [56]:
# Export data as pkl file

ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_updated_aggregated.pkl'))